.position{
  margin-top:100px;
}
/* 
.container-area{
  position:relative;
  width:200px;
  height:200px;
  border: 1px solid #9e8383;
  text-align: center;
}
.main-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
} */
